.project {
	position: relative;

	&.active {
		.project__dropdown-wrapper {
			opacity: 1;
			visibility: visible;
		}

		.project__btn {
			color: #0076f5;
		}

		.project__btn-icon {
			rotate: -180deg;
		}
	}

	&__btn {
		display: flex;
		align-items: center;

		font-weight: 700;
		font-size: 20px;
		color: #404040;

		transition: color 150ms ease-in-out;
	}

	&__btn-icon {
		transition: rotate 150ms ease-in-out;
	}

	&__dropdown-wrapper {
		position: absolute;
		top: calc(100% + 8px);
		left: 12px;

		padding: 8px;

		width: 210px;
		overflow: hidden;

		border: 1px solid #e5e5ea;
		border-radius: 8px;

		box-shadow: -5px 5px 15px -10px rgba(141, 141, 141, 0.6);
		background-color: #fff;

		transition:
			opacity 150ms ease-in-out,
			visibility 150ms ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	&__dropdown {
		width: 100%;
		max-height: 216px;

		display: flex;
		flex-direction: column;
		gap: 8px;

		overflow-y: auto;

		scrollbar-width: thin;
	}
}

.folder {
	&__btn {
		width: 100%;
		position: relative;

		display: flex;
		align-items: center;
		gap: 8px;

		padding: 8px;

		font-weight: 500;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);

			width: 16px;
			height: 16px;
			transition: transform 150ms ease-in-out;

			background-image: url('../img/svg/arrow_dropdown.svg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&.active {
			&::before {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}

	&__submenu {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.folder__select {
			padding-left: 36px;
		}
	}

	&__select {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;

		padding: 8px;

		&.active {
			font-weight: 500;
		}

		@include hover {
			.folder__select-icon {
				color: #0076f5;
			}
		}
	}

	&__select-icon {
		color: #bbbbbb;
		transition: color 150ms ease-in-out;
	}
}
