.user {
	position: relative;

	&.active {
		.user__btn {
			background-color: #f2f8fe;
		}
		.user__dropdown {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__btn {
		padding: 4px;

		transition: background-color 150ms ease-in-out;
		background-color: #fff;
		border-radius: 4px;
	}

	&__dropdown {
		position: absolute;
		z-index: 5;
		top: calc(100% + 8px);
		right: 100%;

		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 8px;

		border: 1px solid #e5e5ea;
		border-radius: 8px;
		box-shadow: -5px 5px 15px -10px rgba(141, 141, 141, 0.6);
		background: #fff;

		width: 216px;

		opacity: 0;
		pointer-events: none;

		transition: opacity 150ms ease-in-out;
	}
}
